<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script id="contact-example" type="text/template">
    <!-- You can choose to use this kind of template or the separated template -->
  <div class="form">
    <div class="form-group">
      <input type="text" id="name" placeholder="Nombre" />
    </div>
    <div class="form-group">
      <input type="email" id="email" placeholder="Email" />
    </div>
    <div class="form-group">
      <textarea id="message" rows=3 placeholder="Mensaje" />
    </div>
    <div id="globalError" class="form-group " ></div>
    <button value="Enviar" id="submit">Enviar</button>
  </div>
  </script>
  <title>Welcome to <%= appName %></title>
  <link rel="stylesheet" type="text/css" href="dist/index.css">
</head>
<body>
  <h1>Contact example</h1>
  <div id="main">
    <a href="#contact">Contact now!</a>
  </div>
  <script type="text/javascript" src="dist/index.js"></script>
</body>
</html>